@model System.Collections.Generic.IEnumerable<WishList.ViewModels.UserViewModel>

@foreach (var md in Model)
{
    <div id="UsersList-@md.Id">
        <h4>@md.FirstName</h4>
        <h4>@md.LastName</h4>
        <h4>@md.FormattedBirthday</h4>
        <h4>@md.Avatar</h4>
        @Ajax.ActionLink("delete", "DeleteFriend", "Friend",  new { id = md.Id }, new AjaxOptions{ UpdateTargetId = "UsersList-" + md.Id})
    </div>
}