@using Microsoft.AspNet.Identity
@using WishList.ViewModels
@model CreateWishListViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>New wish list</h3>
        </div>

        @using (Ajax.BeginForm("Create", "WishList", null, new AjaxOptions
        {
            UpdateTargetId = "contentId",
            HttpMethod = "POST",
            OnSuccess = "closeModalWindow"
        }, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => model.UserId)
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FriendsId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.FriendsId, Model.FriendsList,
                            new
                            {
                                @class = "form-control btn btn-primary multiselect",
                                multiple = "multiple"
                            })
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Close</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        }
    </div>
</div>


<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/multiSelect.js"></script>

