@using WishList.ViewModels
@model CreateWishListViewModel

@using (Ajax.BeginForm("Create", "WishList", new AjaxOptions
{
    UpdateTargetId = "contentId",
    HttpMethod = "POST"
}))
{
    @Html.HiddenFor(model => model.UserId)

    <h3>New wish list</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    @Ajax.ActionLink("Close", "GetAllWishListsOfUser", "WishList", null, new AjaxOptions { UpdateTargetId = "contentId" }, new { @class = "btn" })
    <input type="submit" class="btn btn-success" value="Save" />
}