@using WishList.ViewModels
@model WishListViewModel

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="alert alert-info">
            <h3>
                @Model.Name

                @if (Model.Link != null)
                {
                    <span class="label label-primary pull-right">@Model.Link</span>
                }
                else
                {
                    @Html.ActionLink("Generate link", "GenerateLink", "WishList",
                        new
                        {
                            id = Model.Id,
                            url = Request.Url.ToString()
                        },
                        new
                        {
                            @class = "btn btn-primary"
                        })
                }
            </h3>
        </div>


        @foreach (var gift in Model.Gifts)
        {
            <div id="deleteResult-@gift.Id">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @gift.Name
                    </div>

                    <div class="panel-body">
                        <table class="widthTable">
                            <tr>
                                <td class="tdGiftImage">
                                    <img class="giftImage" src="@Url.Content(@gift.Logo)" alt="image" />
                                </td>
                                <td>
                                    <div class="aboutGift">
                                        @gift.About
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Ajax.ActionLink("Delete", "DeleteGiftFromWishList", "WishList",
                                        new
                                        {
                                            giftId = @gift.Id,
                                            wishListId = Model.Id,
                                            actionName = "ViewWishList"
                                        }, new AjaxOptions
                                        {
                                            UpdateTargetId = "deleteResult-" + @gift.Id
                                        },
                                        new
                                        {
                                            @class = "label label-danger",
                                        })
                                </td>
                                <td>
                                    <button class="myCustomLikeButton btn" name="giftLikeId-@gift.Id">
                                        <img src="/Content/images/like.png" width="10px" height="10px" />
                                        <p id="giftLikeId-@gift.Id">@gift.LikesCount</p>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Action("DisplayComments", "Comment", new { id = Model.Id, kind = "wishList" })
@Html.Action("CreateComment", "Comment", new { id = Model.Id, kind = "wishList" })

