@using WishList.ViewModels
@model WishListViewModel

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    @Model.Name
</h3>

@if (Model.Link != null)
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Link, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
}
else
{
    @Html.ActionLink("Generate link", "GenerateLink", "WishList", new { id = Model.Id, url = Request.Url.ToString() }, null)
}

@foreach (var gift in Model.Gifts)
{
    <div>
        @gift.Name

        @Html.ActionLink("Delete", "DeleteGiftFromWishList", "WishList", new { giftId = gift.Id, wishListId = Model.Id }, null)
    </div>
}
