
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Wish List", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse  navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Gift List", "Catalog", "Gift")</li>
                <li>@Html.ActionLink("Create Gift", "CreateGift", "Gift")</li>
                <li>@Html.ActionLink("Users List", "UsersList", "User")</li>
            </ul>
            <div id="globalSearch">
                <form class="form-search" onsubmit="return false;">
                    <input autocomplete="off" type="text" id="searchGiftInput" placeholder="Find gift">
                </form>
                <div id="giftSearchResult" class="searchResultItem"></div>
            </div>
            <button id="myCustomSearchButton" class="searchButton btn btn-primary"><img src="/Content/images/search.png"/></button>
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</div>
<script src="/Scripts/giftSearch.js"></script>