<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderPage("~/Views/Shared/_Header.cshtml")

    <div class="content">
        @if (IsSectionDefined("banner"))
        {
            @RenderSection("banner")
        }

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/LikesManager.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
