@using Microsoft.AspNet.Identity
@model WishList.ViewModels.ViewProfileViewModel
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="well">
            <h2>ViewProfile</h2>
            <h4>@Model.UserName</h4>

            @if (Model.IsProfileOfCurrentUser)
            {
                @Html.ActionLink("Edit", "EditProfile")
            }
            <hr />

            <dl class="dl-horizontal avatar">
                <img alt="photo" src="@Url.Content(Model.Avatar)" class="avatar" />
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Firstname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Firstname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FormattedBirthday)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FormattedBirthday)
                </dd>
            </dl>
            <hr />

            @Html.Action("GetAllWishListsOfUser", "WishList")
        </div>
    </div>
</div>
