@model WishList.ViewModels.CreateCommentViewModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function onComplete() {
        document.getElementById("Message").value = "";
    }
</script>
<div class="createMesageForm">
    @using (Ajax.BeginForm("CreateComment", "Comment", new AjaxOptions { UpdateTargetId = "allMessages", OnComplete = "onComplete" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new message</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.GiftId)

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary createButton" value="Create" />
            </div>
        </div>
    }
</div>