@model WishList.ViewModels.CommentViewModel

@{
    Layout = null;
}

<li class="list-group-item comment" id="WishList-@Model.Id">
    <div class="commentInfo">
        <p class="commentUserName">@Model.UserName</p>
        <img alt="photo" src="@Url.Content(Model.UserAvatar)" class="commentUserAvatar" />
    </div>
    <pre>@Model.Message</pre>
    <div class="like">
        <button class="myCustomCommentLikeButton btn pull-right" name="commentId-@Model.Id">
            <img src="/Content/images/like.png" width="10px" height="10px" />
            <p id="commentId-@Model.Id">@Html.Action("GetCommentLikesCount", "Comment", new{id = @Model.Id})</p>
        </button>
        @if (User.IsInRole("Moderator"))
        {
            <div class="btn btn-danger deleteButtonWrap">
                @Ajax.ActionLink("delete", "DeleteComment", "Comment", new { id = @Model.Id }, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "WishList-" + @Model.Id
                    }, new { @class = "btn deleteButton" })
            </div>
        }
    </div>
</li>

<script src="/Scripts/commentlikesManager.js"></script>
