@model WishList.ViewModels.CreateGiftViewModel
@using (Html.BeginForm("CreateGift", "Gift", FormMethod.Post,

    new
    {
        @class = "form-horizontal",
        role = "form",
        enctype = "multipart/form-data"
    }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h4>Create a new gift</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="gift-form-group form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="gift-form-group form-group">
        @Html.LabelFor(model => model.Logo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="file" id="file" accept="image/*" class="form-control" />
        </div>
    </div>

    <div class="gift-form-group form-group">
        @Html.LabelFor(model => model.About, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.About, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </div>
}
