@using WishList.ViewModels
@model GiftViewModel

@{
    ViewBag.Title = "View Gift";
}

<div id="newWishList" class="modal fade">
    <div id="contentId"></div>
</div>
<div id="gift">
    <div class="panel panel-primary giftInfo">
        <div class="panel-heading">
            @Model.Name
        </div>

        <div class="panel-body">
            <table class="widthTable">
                <tr>
                    <td class="tdGiftImage">
                        <img class="giftImage" src="@Url.Content(@Model.Logo)" alt="image" />
                    </td>
                    <td>
                        <div class="aboutGift">
                            @Model.About
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        @if (User.IsInRole("Moderator"))
                        {
                            @Ajax.ActionLink("Edit", "UpdateGift", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "gift" }, new { @class = "btn btn-info editButton" })
                        }
                    </td>
                    <td>
                        <p>Views: @Model.ViewsCount</p>

                        <button class="myCustomLikeButton btn pull-right" name="giftLikeId-@Model.Id">
                            <img src="/Content/images/like.png" width="10px" height="10px" />
                            <p id="giftLikeId-@Model.Id">@Model.LikesCount</p>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Catalog", "Catalog")
</p>


@if (Request.IsAuthenticated && Model.DoesUserHaveWishlists)
{
    <div id="wishListsOfUser">
        @Html.Action("GetAllUsersWishListsOfGift", "WishList", new { giftId = Model.Id })
    </div>

    <div id="addGiftToWishListForm">
        <hr />
        @Ajax.ActionLink("Add to wish list", "GetDropDownWishLists", "WishList",
            new
            {
                giftId = Model.Id
            },
            new AjaxOptions
            {
                UpdateTargetId = "contentId",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            },
            new
            {
                data_toggle = "modal",
                data_target = "#newWishList",
                @class = "btn btn-info"
            })
    </div>

}
<div class="myCustomCommentsDiv" data-item="gift @Model.Id"></div>
@if (Request.IsAuthenticated)
{
    @Html.Action("CreateComment", "Comment", new { id = Model.Id, kind = "gift" })
}

<script src="/Scripts/commentLikesManager.js"></script>
<script src="/Scripts/showComments.js"></script>

